{
	"env": {
		"browser": true,
		"es2021": true
	},

	"extends": ["airbnb", "airbnb-typescript", "prettier"],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"parser": "@typescript-eslint/parser",
	"rules": {
		"@typescript-eslint/no-explicit-any": "warn",
		"@typescript-eslint/no-use-before-define": "off",
		"import/prefer-default-export": "off",
		"consistent-return": "off",
		"no-await-in-loop": "off",
		"import/extensions": "off",
		"no-plusplus": "off"
	}
}
