{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2022,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "import/resolver": {
            "typescript": true,
            "node": true
        }
    },
    "parser": "@typescript-eslint/parser",
    "env": {
        "es6": true,
        "node": true
    },
    "plugins": ["react-hooks", "@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:react-hooks/recommended",
        "plugin:json/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:import/typescript",
        "airbnb",
        "prettier"
    ],
    "rules": {
        "camelcase": "off",
        "@typescript-eslint/ban-ts-comment": "warn",
        "import/extensions": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "import/prefer-default-export": "off",
        "no-param-reassign": "off",
        "no-await-in-loop": "off",
        "no-nested-ternary": "off",
        "no-return-assign": "off",
        "@typescript-eslint/no-unused-vars": "error",
        "no-console": "off",
        "no-promise-executor-return": "off",
        "no-constant-condition": "off",
        "no-plusplus": "off",
        "no-loop-func": "off",
        "consistent-return": "off",
        "no-use-before-define": "off"
    }
}
